.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.btn-outline-dark {
  color: #fff;
  border-color: #fff;
}
.is-hidden {
  display: none;
  opacity: 0;
}
body {
  background-color: #ffe0b27c;
}
a {
  text-decoration: none;
  display: block;
}
p {
  margin: 0;
  font-size: 12px;
}
html {
  scroll-behavior: smooth;
}
.nav-link {
  position: relative;
}

.el:hover::after,
.el:focus::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 50px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}
